# Web Server
fastapi
uvicorn[standard]
pyjwt[crypto]

# intents
padaos

# Speech Recognition
speechrecognition
deepspeech
azure-cognitiveservices-speech

# Text to Speech
gTTS>=2.2.3
ibm-watson
pyttsx3

# Wakeword
pvporcupine

# audio
pygame
sounddevice
scipy
playsound==1.2.2 # TODO: remove this dependency

# Settings
pyyaml