<div id="top-bar">
    <p></p>
    <!-- TODO: Test if we are logged in. If we are, show logout. -->
    <button hidden type='button' id="sign-in-btn" onclick="window.location.href='sign-in.htm'">Sign In</button>
    <button type='button' id="logout-btn" onclick="window.location.href='sign-in.htm'">Logout</button>
</div>

<nav id="main-nav">
    <ul>
        <li><a href="index.htm">Home</a></li>
        <li><a href="settings.htm">Settings</a></li>
        <li><a href="#">Routines</a></li>
        <li><a href="#">System</a></li>
        <li><a href="#">Skills</a></li>
    </ul>
</nav>