@import "style.css";
main {
    background: var(--background-white);
    margin-left: var(--nav-width);
    max-width: 1100px;
}

main #content {
    padding: 20px;
}
main .content-box {
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--outline);
    background-color: var(--secondary-blue-white);
    line-height: 1.5;
}
main .content-box .description {
    font-style: italic;   
}
main .content-box .subsection {
    margin-top: 20px;
    border-top: 1px solid var(--outline);
}
main .content-box .subsection h2 {
    font-size: 1.3em;
}

input, textarea, select {
    border: 1px solid var(--outline);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    display: block;
}